.mt-2{
    margin-top:5px;
}

.hor-center{
    margin: 0 auto;
    text-align: center;
}

.hor-center-2{
    margin: 20px auto;
    text-align: center;
}

#photo{
    height: 500px;
    width: auto;
}